APScheduler==0.0.0
argh==0.26.2
blinker==1.4
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
command-not-found==0.3
configobj==5.0.6
cryptography==2.8
cupshelpers==1.0
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
distro==1.4.0
distro-info===0.23kylin1
dnspython==1.16.0
docker==4.1.0
entrypoints==0.3
gssapi==1.6.1
httplib2==0.14.0
idna==2.8
incremental==16.10.1
Jinja2==2.10.1
jsonpath-rw==1.4.0
jsonpath-rw-ext==1.2.2
keyring==18.0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
MarkupSafe==1.1.0
netaddr==0.7.19
netifaces==0.10.4
ntplib==0.3.3
numpy==1.24.4
oauthlib==3.1.0
onboard==1.4.1
pandas==2.0.3
pathtools==0.1.2
pbr==5.4.5
pdf2image==1.17.0
pexpect==4.6.0
Pillow==7.0.0
piston-mini-client==0.7.5
ply==3.11
prettytable==0.7.2
psutil==5.5.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycparser==2.19
pycrypto==2.6.1
pycryptodomex==3.6.1
pycups==1.9.73
pycurl==7.43.0.2
pydbus==0.6.0
PyGObject==3.36.0
pyinotify==0.9.6
PyJWT==1.7.1
PyMySQL==0.9.3
PyQt5==5.14.1
pysmbc==1.0.15.6
python-apt===2.0.0.1-0k0.4
python-augeas==0.5.0
python-dateutil==2.9.0.post0
python-ldap==3.2.0
python-pam==1.8.4
python-yubico==1.3.3
pytz==2026.3
pyudev==0.21.0
pyusb==1.0.2
pyxdg==0.26
PyYAML==5.3.1
qrcode==6.1
redis==3.3.11
reportlab==3.5.34
requests==2.22.0
requests-unixsocket==0.2.0
SecretStorage==2.3.1
selinux==3.0
simplejson==3.16.0
sip==4.19.21
six==1.14.0
tzdata==2026.3
tzlocal==2.1b1
ubuntu-advantage-tools==20.3
urllib3==1.25.8
wadllib==1.3.3
watchdog==0.9.0
websocket-client==0.53.0
